<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - MonitoringSystem</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" />
    <link rel="stylesheet" href="~/css/_Layout.css" />
</head>
<body>

    <header class="top-nav">
        <div class="nav-container">
            <div class="brand">
                <img src="~/buslogo-removebg-preview.png" alt="logo">
                <span>STMS</span>
            </div>
            <nav>
                <ul>
                    <li><a href="#dashboard" class="active">Dashboard</a></li>
                    <li><a href="#students">Students</a></li>
                    <li><a href="#reports">Reports</a></li>
                </ul>
            </nav>
            <div class="profile-area">
                <a href="/Account/Login" title="Logout">
                    <img class="profile-btn" src="~/logout-removebg-preview.png" alt="Logout">
                </a>
            </div>
        </div>
    </header>
    <div class="container">
        @RenderBody()
    </div>

    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>

